h1{
    font-size: 300%;
    position: relative;
    margin: auto;
    left: 647px;
    right: 0;
    top: 20px;
    bottom: 0;
    place-items: center;
    font-family: 'Poppins', sans-serif;  
}

body {
    background-color: #26324d;
}

 
/* Button Stuff */
.swagButton  {
    text-decoration: inherit;
    color: #fff;
    font-size: 200%;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    margin: auto;
    left: 630px;
    right: 0;
    top: 100px;
    bottom: 0;
    place-items: center;
    text-align: center;

    border: solid 2px #fff;
    border-radius: 50px;

    padding: 10px 80px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;

}

.swagButton:hover {
    background-color: white;
    color: black;
}